.App {
  background: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* header */

header {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 110px;
  padding: 20px 50px 10px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

header [role=button] {
  background-color: rgb(115, 2, 12);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid transparent;
  margin-left: 10px;
  margin-bottom: 0px;
  height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  line-height: 0;
}

header [role=button]:hover {
  background-color: rgb(13, 13, 13);
  border: 2px solid white;
}

header img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

/* customize */

.Options {
  width: 100vw;
  height: 50px;
  padding: 5px 50px 30px 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-content: center;
}

.Options details {
  width: 25vw;
  border: 0px;
  margin-right: 20px;
}

.Options label {
  display: flex;
  height: 20px;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 3em;
}

[type=checkbox]:checked {
  background-color: rgb(115, 2, 12);
  border-color: white;
}

.Options summary {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.Options summary:after {
  background-image: url('./assets/circle-arrow-down-solid.svg');
}

.Options summary:not([role]) {
  font-weight: bold;
  color: white;
}

.Options input[type=text] {
  width: 200px;
  height: 40px;
  font-size: 14px;
  color: white;
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  align-self: center;
}

.Options input[type=submit] {
  width: 120px;
  height: 40px;
  margin-bottom: 0px;
  font-size: 14px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.create-car-price {
  position: absolute;
  top: 80vh;
  left: 50px;
  width: 300px;
  height: 80px;
  background-color: rgb(115, 2, 12);
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}

/* options list */

.options-list {
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  justify-content: center;
}

.options-name-and-selection {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5px;
  color: white;
  height: 130px;
}

.options-list p {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.options-convertible {
  font-style: italic;
}

.options-selection {
  cursor: pointer;
  text-align: center;
}

.OptionsCard {
  background-position: center;
  background-size: cover;
  width: 115px;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

/* view all cars */

.ViewCustomCars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 50px 20px 50px;
}

i {
  margin-right: 5px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.car-details {
  width: 100%;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.car-details p {
  color: white;
  font-size: 14px;
  margin-bottom: 0px;
}

.car-details-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  border: none;
  height: 60px;
}

.car-details-buttons button {
  width: 80px;
  height: 40px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.car-details-buttons [role=button] {
  width: 80px;
  height: 40px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

/* view car details */

.CustomCar {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 10px;
  width: 90vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30px;
  padding: 40px;
  overflow-y: scroll;
}

.single-car-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  justify-items: center;
  margin-bottom: 35px;
  text-align: center;
}

.single-car-details p {
  font-size: 12px;
  color: white;
}

.single-car-details img {
  width: 200px;
  height: 70px;
}

.single-car-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.single-car-buttons button, .single-car-buttons [role=button], .single-car-buttons [type="submit"] {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.single-car-buttons [type="submit"] {
  width: 80vw;
}

/* edit car */

.CustomCar details {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* invalid modal */
.invalid-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid rgb(115, 2, 12);
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
}

.invalid-modal p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}

.modal-button {
  width: 200px;
  height: 60px;
  margin-bottom: 0px;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}